/* 
.main-container {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 10px;
	height: 80%;
	width: 50%;
	background-color: #f1f1f1;
	overflow: auto;
	border-radius: 5px;
}
.room-info {
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
}
.room-info > a {
	text-decoration: none;
}
.chat {
	display: flex;
	flex-direction: row;
	height: 80%;
	margin-right: 10px;
	margin-left: 10px;
} */

.main-container {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	height: 80%;
	width: 50%;
	background-color: #f1f1f1;
	overflow: auto;
	border-radius: 5px;
}
.room-info{
	height: 2%;
}
.chat{
	height:98%;
	display: flex;
	flex: row;
}
.chat-box{
	width:70%;
}