/* 

.input {
	resize: none;
	padding: 5px 10px;
	height: 40px;
	width: 80%;
	font-size: 14px;
	color: black;
	flex: 1;
	border: none;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 5px 0px 0px 5px;
}
.text-button {
	width: 15%;
	background: #9cc900;
	color: white;
	font-size: 12px;
	padding: 0 15px;
	border: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	border-radius: 0px 5px 0px 0px;
}

} */

.chat-input {
    display: flex;
    width: 104%;
}
.input {
    resize: none;
    font-size: 14px;
    padding: 10px 15px;
    height: 34px;
    color: black;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px 0px 0px 5px;
    width: 80%;
}

.text-button {
    background: #9cc900;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 12px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0px 5px 5px 0px;
    width: 20%;
}
.input:focus {
    outline: none;
}

.text-button:focus {
    outline: none;
}
.text-button:hover {
    cursor: pointer;
    background-color: #2ba245;
}
