.messages {
	overflow: auto;
	flex: auto;
	margin-left: 8px;
	max-width: 650px;
}
.chat-text {
	border-radius: 20px;
	padding: 3px 15px;
	color: black;
	display: inline-block;
	background: white;
	max-width: 45%;
}
.name-display {
	font-size: 5px;
}
.message-text {
	width: 100%;
	word-wrap: break-word;
	font-size: 0.9em;
}

/* .text-box {
	display: flex;
	justify-content: flex-end;
} */
